#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
# old format: keyboard us
# new format:
keyboard --vckeymap=us --xlayouts='us'
# Root password
rootpw --plaintext Password
# System timezone
timezone Europe/London
# Use network installation
url --url="ftp://192.168.122.47/pub/centos7"
# System language
lang en_US
# Firewall configuration
firewall --enabled --service=ssh,ssh,ssh
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use graphical install
text
# Run the Setup Agent on first boot
firstboot --enable
# SELinux configuration
selinux --enforcing
# Do not configure the X Window System
skipx

ignoredisk --only-use=sda
# Network information
network  --bootproto=static --device=eth0 --gateway=192.168.122.1 --ip=192.168.122.50 --nameserver=192.168.122.200 --netmask=255.255.255.0
# Halt after installation
halt
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=none --boot-drive=sda

#system bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel


%packages
@^minimal
@core
kexec-tools

%end
